@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", "sans-serif";
    background-image: url("assets/bg1.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.body-wrapper {
    
    height: 100vh;
 
}

.splash{
     color: #d0d0d0;
   padding: 32px 0px ;
   display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.splash_header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
     padding: 0px 24px;
    padding-top: 2rem;
    gap: 24px;
}

.splash_image{
    
    /* height: calc(100vh - 46vh); */
    /* background-image: url("assets/bg.png");
    background-size: cover ;
    background-repeat: no-repeat; */
    flex-grow: 2;
    
}

.splash_image img{
  display: none;
}
.action{
    padding: 16px 24px;
    display: flex;
    justify-content: center;
    
}

.btn-primary{
  


/* Foundation /Violet/Normal */
background: #B919E1;
border-radius: 10px;

}


/* type weight */

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  


  /* Welcome page */

  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  body{
      width: 100%;
      height: 100vh;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: "Montserrat", "sans-serif";
      background-image: url("assets/bg1.png");
      background-size: cover;
      background-repeat: no-repeat;
  }
  .body-wrapper {
      
      height: 100vh;
   
  }
  
  .splash{
      color: white;
     padding: 32px 0px ;
     display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  
  }
  
  .splash_header{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
       padding: 0px 24px;
      padding-top: 2rem;
      gap: 24px;
  }
  
  .splash_image{
      
      /* height: calc(100vh - 46vh); */
      /* background-image: url("assets/bg.png");
      background-size: cover ;
      background-repeat: no-repeat; */
      flex-grow: 2;
      
  }
  
  .splash_image img{
    display: none;
  }
  .action{
      padding: 16px 24px;
      display: flex;
      justify-content: center;
      
  }
  
  .btn-primary{
    
  
  
  /* Foundation /Violet/Normal */
  background: #B919E1;
  border-radius: 10px;
  
  }
  
  
  /* type weight */
  
  .poppins-thin {
      font-family: "Poppins", sans-serif;
      font-weight: 100;
      font-style: normal;
    }
    
    .poppins-extralight {
      font-family: "Poppins", sans-serif;
      font-weight: 200;
      font-style: normal;
    }
    
    .poppins-light {
      font-family: "Poppins", sans-serif;
      font-weight: 300;
      font-style: normal;
    }
    
    .poppins-regular {
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-style: normal;
    }
    
    .poppins-medium {
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-style: normal;
    }
    
    .poppins-semibold {
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-style: normal;
    }
    
    .poppins-bold {
      font-family: "Poppins", sans-serif;
      font-weight: 700;
      font-style: normal;
    }
    
    .poppins-extrabold {
      font-family: "Poppins", sans-serif;
      font-weight: 800;
      font-style: normal;
    }
    
    .poppins-black {
      font-family: "Poppins", sans-serif;
      font-weight: 900;
      font-style: normal;
    }
    
    .poppins-thin-italic {
      font-family: "Poppins", sans-serif;
      font-weight: 100;
      font-style: italic;
    }
    
    .poppins-extralight-italic {
      font-family: "Poppins", sans-serif;
      font-weight: 200;
      font-style: italic;
    }
    
    .poppins-light-italic {
      font-family: "Poppins", sans-serif;
      font-weight: 300;
      font-style: italic;
    }
    
    .poppins-regular-italic {
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-style: italic;
    }
    
    .poppins-medium-italic {
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-style: italic;
    }
    
    .poppins-semibold-italic {
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-style: italic;
    }
    
    .poppins-bold-italic {
      font-family: "Poppins", sans-serif;
      font-weight: 700;
      font-style: italic;
    }
    
    .poppins-extrabold-italic {
      font-family: "Poppins", sans-serif;
      font-weight: 800;
      font-style: italic;
    }
    
    .poppins-black-italic {
      font-family: "Poppins", sans-serif;
      font-weight: 900;
      font-style: italic;
    }
    
  
  
    /* Welcome page */

    .welcome{
    color: #d0d0d0;;
    }
  
    .welcome .body-wrapper{
      background-image: url("assets/bg3.png");
      background-size: cover;
      background-repeat: no-repeat;
    }
  
  .welcome .body_header{
    color: white ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    padding: 0px 24px;
    text-align: center ;
  }
  
  .welcome .body_header  img{
    width: 60%;
  }


.welcome .section{
 margin-top: 2rem;
}
.welcome .historique{
  
  padding:0px 24px;
  
  
}
.welcome .section_header{
  display: flex;
  gap: 8px;
  padding: 8px 0px;
   border-bottom: 1px solid #ffffff3b;
}

.welcome .recent-activity{
  color: #d0d0d0;
}
.activities{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 16px 24px;
}

.mainaction{
  display: flex;
  padding-left: 24px;
  padding-right: 24px;
  justify-content:center
  
}

.card-body{
  display: flex;
  flex-direction: column;
background: rgba(120, 120, 120, 0.3);
box-shadow: inset -5px -5px 250px rgba(255, 255, 255, 0.02);
backdrop-filter: blur(21px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 10px;
  gap: 24px;
  padding: 24px;
  justify-content:center;
  align-items: center;

  
}

.card-body img{
  width: 50px;
}
