
/* Welcome page */

.welcome{
  color: #d0d0d0;;
  }

  .welcome .body-wrapper{
    background-image: url("../assets/home.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

.welcome .body_header{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  padding: 0px 24px;
  text-align: left !important;
}

h1{
  font-size: xxx-large;
}
.welcome .body_header  .globe{
  width: 60%;
}


.title-img {
  text-align: left;
  width: 100%;
  margin-bottom: 1rem;
}
.tag{
  font-family: 'Brand', "sans-serif";
}

.tag span{
  color: yellow;
}

.welcome .section{
margin-top: 2rem;
}
.welcome .historique{

padding:0px 24px;


}

.welcome .section_header{display: flex;gap: 8px;padding: 8px 0px;border-bottom: 1px solid #ffffff3b;justify-content: space-between;}

.welcome .recent-activity{
color: #d0d0d0;
}
.activities{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 16px 0px;
}

.mainaction{
display: flex;
padding-left: 24px;
padding-right: 24px;
justify-content:center;
gap: 20px;

}

.action-card{
width: 50%;
}

.card-body{
display: flex;
flex-direction: column;
background: rgba(120, 120, 120, 0.3);
box-shadow: inset -5px -5px 250px rgba(255, 255, 255, 0.02);
backdrop-filter: blur(21px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 10px;
gap: 24px;
padding: 24px;
justify-content:center;
align-items: center;


}

.card-body img{
width: 50px;
}


.historique-list{
  color: yellow;
}